.image-slider__container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 102px;
  // overflow-x: scroll;
  // padding: 0 .5em;
  position: relative;
  width: inherit;
}

.slider-images {
  // width: 100%;
  height: 100%;
  padding: 0 .2%;
}

.slider-icon {
  color: #62A60A;
  cursor: pointer;
  transform: scale(1.8);
  text-decoration: none;
}

// .slide {
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: 50% 60%;
//   height: 106px;
// }